# Tmp
*.tmp

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/


.vscode
.DS_Store
.coverage
.pytest_cache
htmlcov
coverage.xml
__pycache__
*.py[cod]
*$py.class
